<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap" rel="stylesheet">


*{}
.module {  }
*.module {  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container{
    width: 1060px;
    margin: 0 auto;
    padding: 0 20px;
}


/*header*/

.header{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 31px 0;
}
.lawyer{
    float: left;
}
.lawyer:hover{}
.lawyer a{
    text-decoration: none;
    color: #000da1;
    font-size: 30px;
}

/*about*/
.about{
    float: right;
}
.about:hover{}
.about a{
    text-decoration: none;
    color: #000da1;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px;
    text-align: justify;
}

/*header*/


/*poster*/
.poster{
    background-image: url(../img/bannerbg.png);
    margin: 0 auto;
    position: relative;
    background-size: cover;
    height: -webkit-fill-available;
    background-repeat: no-repeat;
}
.subbg{
    background-image: url(../img/banner.png);
    width: 100%;
    height: -webkit-fill-available;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}
.banner-content{
    text-align: center;
}
.text{
    /* text-align: center; */
    /* color: white; */
    /* top: 50%; */
    /* position: absolute; */
    /* width: 100%; */
    /* left: 0; */
}
.text p{
    font-family: 'Montserrat', sans-serif;

    text-align: center;
    font-size: 82px;
    color: white;
    bottom: 50%;
    position: absolute;
    width: 100%;
    left: 0;
    transform: translatey(50%);
}
.text i{
    color: white;
    bottom: 82px;
    position: absolute;
    left: 50%;
    font-size: 36px;
    transform: translate(-50%);
}


/*poster*/

/*who we are*/
.wer{
    padding: 120px 0 200px;
    overflow: hidden;
}
.col_md_6{}
.heading{}
.heading span{
    width: 60px;
    background: #f15628;
    height: 5px;
    display: block;
}
.heading h1{
    color: #204f87;
    font-size: 36px;
    text-transform: uppercase;
    margin: 30px 0;
}
.whrcontent p{
    color: #b0b0b1;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.whrimg{
    width: 30%;
    float: left;
}
.whrcontent{
    width: 70%;
    float: left;
    padding-right: 150px;
    width: 511px;
}

/*------------------what we do--------------------------*/
 .what_we_do{background-repeat: no-repeat;background-color: #f7f8f8;background-image: url(../img/whdbg.png);background-position: right bottom;height: 851px;padding: 80px 0 120px;}
 .whdheading{
    text-align: center;
    color: #204f87;
    font-size: 36px;
    text-transform: uppercase;
    margin: 30px 0;
}
 .whdheading span{
    width: 60px;
    background: #f15628;
    height: 5px;
    margin: 0 47%;
    display: block;
}
 .whdheading h1{
    margin-bottom: 88px;
}


 /*------------------whd img--------------------*/

 .whdimg{
    width: 33.33%;
    float: left;
    padding: 10px;
}

 .whdimg div{
    width: 100%;
}
 .whdimg div img{
    /* max-width: 100%; */
    display: block;
    width: 100%;
}

.whdimg div h2{
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*------------------what we do--------------------------*/


/*-----------------our_attornyes---------------------------*/
.our_attornyes{
    background-image: url(../img/oabg.png);
    overflow: hidden;
}
.our_attornyes_text{
    width: 33%;
    float: left;
    margin-top: 330px;
}
.our_attornyes_text h1{
    color: white;
    font-size: 36px;
    text-transform: uppercase;
}
.our_attornyes_text span{
    width: 60px;
    background: #f15628;
    height: 5px;
    display: block;
    margin-bottom: 30px;
}
.our_attornyes_text p{
    font-size: 14px;
    color: #91a4ee;
    margin: 30px 0 60px;
    line-height: 1.6;
}
.see_more{
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #f15628;
    text-transform: uppercase;
}
.attorneys_img{
    width: 67%;
    float: left;
    margin: 215px 0 200px;
}
.attorneys_img div{}
.attorneys_img div img{
    width: 50%;
    float: left;
    padding: 15px;
}

/*-----------------our_attornyes---------------------------*/


/*----------------The Languages------------------------------*/
.the_languages{
    margin: 120px 0 0px;
    height: 800px;
}
.the_language_text{}
.middel_span{
    width: 60px;
    background: #f15628;
    height: 5px;
    margin: 0 47%;
    display: block;
}
.the_language_text h1{
    margin: 20px 0;
    font-size: 36px;
    text-transform: uppercase;
    color: #000da1;
    font-weight: bold;
    text-align: center;
}
.language_opction{}
.option{
    float: left;
    width: 25%;
}
.option h1{
    font-weight: bold;
    text-transform: uppercase;
    color: #000da1;
    margin-bottom: 30px;
}
.option p{
    padding-right: 20px;
    margin-bottom: 40px;
    line-height: 1.4;
    color: #adbbbe;
}
.option a{
    text-decoration: none;
    color: #FF621A;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

/*----------------The Languages------------------------------*/
/*-------------------------------contact us==============*/
.contact_us{
    /* color: white; */
    font-size:  36px;
    background: #000CA1;
    padding: 60px 0;
    text-align: center;
}
.contact_us_text{
}
.contact_us_text h1{
    color: white;
    margin: 35px;
    text-transform: uppercase;
}
.input{}
.input input{
    /* width: 50%; */
    /* background: transparent; */
}
.btn{
    width: 210px;
    background: transparent;
    height: 45px;
    font-size: 14px;
    margin: 50px 0 90px;
    font-weight: bold;
    color: white;
    background: #FF621A;
    text-transform: uppercase;
}
.meassage{
    border-top: 0;
    width: 50%;
    background: transparent;
    border-right: 0;
    border-left: 0;
    border-color: #2E3FDA;
    padding: 10px 0;
}
.mail{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 50%;
    background: transparent;
    border-color: #2E3FDA;
    padding: 10px 0;
}
.name{
    border-top: 0;
    border-right: 0;
    width: 50%;
    background: transparent;
    border-left: 0;
    border-color: #2E3FDA;
    padding: 10px 0;
}
/*-------------------------------contact us==============*/

/*------------------------footer----------------------------*/
.footer{
    padding: 40px 0;
    background: #02072E;
}
.copyright{
    width: 50%;
    float: left;
}
.copyright p{
    color: #4c5fd0;
    font-size: 14px;
}
.social_link{width: 50%;display: inline;text-align: right;}
.social_link ul{text-align: right;}
.social_link ul li{
    list-style: none;
    display: inline-block;
}
.social_link ul li a{
    color: white;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}
.
.
.
.
/*------------------------footer----------------------------*/